* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

header {
  text-align: center;
  display: flex;
  height: 100px;
}

#usa, #uk {
  width: 50%;
  background-size: cover;
  transition: width 2s;
}

#uk {
  background-image: url('Flag_of_the_United_Kingdom.png');
}

#usa {
  background-image: url('Flag_of_the_United_States.png');
}

h1 {
text-align: center;
margin-top: 20px;
}

code {
  background: #d0d0d5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
}

.form-container {
  max-width: 95%;
  margin: 10px;
}

#user-stories {
  font-size: 1.2em;
}

#output-container,
#solution-container,
#text-input,
#locale-select,
input[type="button"] {
  font-size: 1.1em;
}

#output-container {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0 0 0;
  padding: 10px;
  border: 2px solid rgb(32, 31, 31);
  border-radius: 5px;
}

#solution-container {
  font-weight: bold;
}


#translated-sentence {
  margin-top: 10px;
  font-weight: normal;
}

#error-msg {
  font-weight: normal;
  color: red;
}

.highlight {
  color: green;
  font-size: 1.5rem;
  font-weight: bold;
}

#text-input {
  padding: 10px;
}

.examples {

  margin: 20px 0 20px 0;
}

.example:hover {
  cursor: pointer;
  color: orangered;
}


@media (min-width: 800px) {
  
  #solution-container {
    width: 75%;
    margin-top: 0;
  }
}

img {
  position: absolute;
  left: 500px;
  right: 0;
  bottom: -200px;
  
  transition: all 1s;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

img:hover {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#bubble {
  position:relative;
  display: inline-block;
  padding: 30px;
  background: #f0f0f0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-transform: uppercase;
  color:#000;
  border:2px solid #000;
  border-radius:50px;
  outline:0;
  min-width: 600px;
  min-height: 200px;
  margin-bottom: 20px;
}
#bubble:after {
  content: ' ';
  position:absolute;
  margin: 0 auto;
  left:300px;;
  right:0;
  bottom:-10px;
  width:15px;
  height:15px;
  background:#f0f0f0;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
}
