* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

header {
  display: flex;
  height: 100px;
}

#usa, #uk {
  width: 50%;
  background-size: cover;
  transition: width 2s;
}

#uk {
  background-image: url('Flag_of_the_United_Kingdom.png');
}

#usa {
  background-image: url('Flag_of_the_United_States.png');
}

h1 {
margin-top: 20px;
}

code {
  background: #d0d0d5;
}

.container {
  width: 60%;
  margin: auto;
}

.form-container {
  max-width: 95%;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#user-stories {
  font-size: 1.2em;
}

#output-container,
#solution-container,
#text-input,
#locale-select,
input[type="button"] {
  font-size: 1.1em;
}

#output-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 20px 0 0 0;
  padding: 10px;
  border: 2px solid rgb(32, 31, 31);
  border-radius: 5px;
  transition: width 1s;
  background-color: #fff;
}

#solution-container {
  font-weight: bold;
}

#top {
  width: 75%;

}
#translated-sentence {
  margin-top: 10px;
  font-weight: normal;
}

#error-msg {
  font-weight: normal;
  color: red;
}

.highlight {
  color: green;
  font-size: 1.5rem;
  font-weight: bold;
}

#text-input {
  padding: 10px;
}

.examples {
  padding: 2rem;
  border: 2px solid #000;
  border-radius: 10px;
  margin: 20px;
}

.example:hover {
  cursor: pointer;
  color: orangered;
}

img {
  position: absolute;
  left: 500px;
  right: 0;
  bottom: -200px;
  transition: all 1s;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: -10;
}

img:hover {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#bubble {
  position:relative;
  display: inline-block;
  padding: 30px;
  background: #ff9;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-transform: uppercase;
  color:#000;
  border:2px solid #000;
  border-radius:50px;
  outline:0;
  min-width: 600px;
  min-height: 200px;
  margin-bottom: 20px;
}
#bubble:after {
  content: ' ';
  position:absolute;
  margin: 0 auto;
  left:300px;;
  right:0;
  bottom:-10px;
  width:15px;
  height:15px;
  background:#ff9;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
}

.footer {
  height: 100px;
  width: 100%;

  transition: width 1s;
  margin-top: 150px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #ff7a00
}

@media (max-width: 1500px) {

  .form-container {
    flex-direction: column;
    justify-content: left;
  }

  .examples {
    width: 75%;
  }

  #bubble {
    min-width:100%;
  }

  #bubble:after {
    left: 0;
  }

  .footer {
    margin: 0;
  }

  img {
    display: none;
  }

  #output-container {
    width: 100%;
  }

}

